/*--------------------------------------------Navbar-Logo*/
.navlogo-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  background-image: url(../images/logo.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*z-index: 1;*/
}

.logo {
  margin: 8px auto;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  letter-spacing: 3px;
}
.logo p {
  font-size: 32px;
}
.navbar {
  margin-bottom: 0;
  border: 0;
  width: 100%;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 40px;
  color: #ffffff;
}

.navbar-custom .navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  text-decoration: underline;
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-item {
  color: #ffffff;
  font-weight: bold;
  background-color: #999999;
}

/*--------------------------------------------Header*/
.info-container {
     width: 100%;
  margin-top: 200px;
  
  position: relative;
}
.showcase-container {
  width: 100%;
  margin-top: 200px;
  max-height: 500px;
  position: relative;
}
.head-left {
  display: flex;
  height: 500px;
  width: 100%;
  background-image: url(../images/head1-n2.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: right center;
  align-items: center;
  justify-content: center;
}

.head-middle {
  display: flex;
  height: 500px;
  width: 100%;
  background-image: url(../images/head2.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center center;
  align-items: center;
  justify-content: center;
}
.head-right {
  display: flex;
  height: 500px;
  width: 100%;
  background-image: url(../images/head3-n3.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: left center;
  align-items: center;
  justify-content: center;
}

.head-type {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 5px solid #ffffff;
}

/*@media screen and (max-width: 943px)*/

@media (max-width: 584px) {
  .head-left,
  .head-middle,
  .head-right {
    height: 250px;
  }
  .head-type {
    font-size: 15px;
  }
}

/*--------------------------------------------Exhibition-section + general sizings*/
.exhibition-container {
  margin-top: 30px;
}
.pic {
  display: flex;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-position: center center;
}
.ex-pic {
  background-image: url(../images/ab1port.jpeg);
}
.right-text {
  text-align: right;
  border-right: 20px solid #eeeeee;
  align-items: center;
}
.left-text {
  text-align: left;
  border-left: 20px solid #eeeeee;
  align-items: center;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #999999;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

h4 {
  font-size: 16px;
}
p {
  font-size: 12px;
}
.black-arrow a i {
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}
.black-arrow a i:hover {
  text-decoration: underline;
  color: blue;
}

@media (max-width: 584px) {
  .pic {
    height: 250px;
  }
}
@media (max-width: 584px) {
  h3,
  .title {
    font-size: 14px;
  }
  h4 {
    font-size: 10px;
  }
  p {
    font-size: 8px;
  }
}
/*--------------------------------------------Justine-section*/
.justine-container {
  margin-top: 5px;
}

.sketch-pic {
  background-image: url(../images/sket-rota.jpg);
}
/*--------------------------------------------Art*/

.art-container {
  width: 100%;
  margin-top: 200px;
  position: relative;
}
/*--------------------------------------------Digital-Present*/
.digi1 {
  background-image: url(../images/digi1.jpg);
}
.digi2 {
  background-image: url(../images/digi2.jpg);
}
.digi3 {
  background-image: url(../images/digi3.jpg);
}
/*--------------------------------------------Footer*/
.footer-container {
  width: 100%;
  background-image: url(../images/foot-nar.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foot {
  text-align: center;
  color: #ffffff;
  margin-top: 50px;
  font-weight: bold;
  font-size: 30px;
}

.arrow a:hover {
  text-decoration: underline;
  color: #ffffff;
}
@media (max-width: 584px) {
  .foot {
    font-size: 15px;
    margin-top: 5px;
    background-size: contain;
  }
}
.social-links {
  text-align: center;
  margin: 1px;
}

.bottom {
  align-items: baseline;
}

.social-links li a {
  font-size: 5px;
  text-align: center;
  margin: 0 auto;
  color: #ffffff;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a:hover {
  text-decoration: underline;
}
