/*body {
  font-family: "Roboto", sans-serif;
}*/




/*--------------------------------------------Navbar-Logo*/
.navlogo-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;

}


.logo{
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 350px;
  margin: 20px auto;
  background-image: url(../images/logo.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  color: white;
  font-weight: bold;
  text-align: center;
  line-height: 32px;
  letter-spacing: 3px;
  
}
.logo p {
  font-size: 30px;  
  
}
@media (max-width: 584px) {
  .logo {
    
  height: 40px;
  width: 200px;
  margin: 13px auto;

  line-height: 15px;
  letter-spacing: 1px;
  }
}
#navbarNavDropdown {
    position:relative;
  z-index:5;
  width: 50px;
  background-color: #ffffff;
  float: right;
}
#navbarNavDropdown ul li {
    display: inline-block;
}
@media (max-width: 584px) {
  .logo p {
    font-size: 15px;
  }
}
@media (max-width: 584px) {
  .navbar .navbar-brand {
    font-size: 30px;
  }
}

.navbar {
  margin-bottom: 0;
  border: 0;
  border-bottom: 15px solid #eeeeee;
  width: 100%;
}

.navbar .navbar-brand {
  font-weight: bold;
  font-size: 40px;
  color: #000000;
}

.navbar-custom .navbar-nav .nav-link {
  color: #999999;
  font-weight: bold;
}
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  text-decoration: underline;
  color: #999999;
}
.navbar .navbar-nav .dropdown-item {
  color: #999999;
  font-weight: bold;
  
}
.navbar .navbar-nav .dropdown-item:hover {
 text-decoration: underline;   
}
.navbar .button

/*--------------------------------------------Header*/
.info-container {
     width: 100%;
  margin-top: 200px;
  
  position: relative;
}
.showcase-container {
  width: 100%;
  margin-top: 240px;
  max-height: 500px;
  position: relative;
}
.head-left {
  display: flex;
  height: 500px;
  width: 100%;
  background-image: url(../images/head1-n2.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: right center;
  align-items: center;
  justify-content: center;
}

.head-middle {
  display: flex;
  height: 500px;
  width: 100%;
  background-image: url(../images/head2.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: center center;
  align-items: center;
  justify-content: center;
}
.head-right {
  display: flex;
  height: 500px;
  width: 100%;
  background-image: url(../images/head3-n3.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-position: left center;
  align-items: center;
  justify-content: center;
}

.head-type {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 5px solid #ffffff;
}

/*@media screen and (max-width: 943px)*/

@media (max-width: 584px) {
  .head-left,
  .head-middle,
  .head-right {
    height: 250px;
  }
  .head-type {
    font-size: 15px;
  }
}

/*------------------------------------------- general sizings*/

.pic {
  display: flex;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: cover;
  background-position: center center;
}

.right-text {
  text-align: right;
  border-right: 20px solid #eeeeee;
  align-items: center;
}
.left-text {
  text-align: left;
  border-left: 20px solid #eeeeee;
  align-items: center;
}
h3 {
  font-size: 20px;
  font-weight: bold;
  color: #999999;
}
.title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

h4 {
  font-size: 16px;
}
p {
  font-size: 12px;
}
.black-arrow a i {
  font-weight: bold;
  font-size: 30px;
  color: #000000;
}
.black-arrow a i:hover {
  text-decoration: underline;
  color: #000000;
}

@media (max-width: 584px) {
  .pic {
    height: 250px;
  }
}
@media (max-width: 584px) {
  h3,
  .title {
    font-size: 14px;
  }
  h4 {
    font-size: 10px;
  }
  p {
    font-size: 8px;
  }
}

/*--------------------------------------------Footer*/
.footer-container {
    width: 100%;
    margin-top: 75px;
}
.grey-line {
  width: 200px;
  height: 20px;
  border: 0;
  background-color: #eeeeee;
  margin-bottom: 50px;
}

.foot-logo{
    
    justify-content: center;
    align-items: center;
    height: 50px;
  width: 350px;
  margin: 5px auto;
  background-image: url(../images/foot-nar.jpeg);
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  color: white;
  font-weight: bold;
  text-align: center;
  
  
}


.foot {
  text-align: center;
  color: #ffffff;
  
  font-weight: bold;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 3px;

}
.foot p {
  font-size: 28px;  
  
}
.arrow a {
    color: #ffffff;
}
.arrow a:hover {
  text-decoration: underline;
  color: #ffffff;
}
.arrow a:hover i {
  text-decoration: underline;
  color: #ffffff;
}
@media (max-width: 584px) {
  .foot {
    font-size: 15px;
    line-height: 15px;
    margin-top: 5px;
    }
}
@media (max-width: 584px) {
  .foot-logo {
    height: 40px;
  width: 200px;
  margin: 30px auto;
    }
}
.social-links {
  text-align: center;
  margin: 1px;
}

.bottom {
  align-items: baseline;
}

.social-links li a {
  font-size: 5px;
  text-align: center;
  margin: 0 auto;
  color: #666666;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.social-links li a:hover {
  text-decoration: underline;
}
/*--------------------------------------------Exhibition-section*/
.exhibition-container {
  margin-top: 75px;
}
.ex-pic {
  background-image: url(../images/ab1port.jpeg);
}
/*--------------------------------------------Justine-section*/
.justine-container {
  margin-top: 75px;
}

.sketch-pic {
  background-image: url(../images/sket-rota.jpg);
}
/*--------------------------------------------Art-Pages*/

.art-container {
  width: 100%;
  margin-top: 200px;
  position: relative;
  
}
/*--------------------------------------------Digital-Present-Page*/
.digi1 {
  background-image: url(../images/digi1.jpg);
}
.digi2 {
  background-image: url(../images/digi2.jpg);
}
.digi3 {
  background-image: url(../images/digi3.jpg);
}